<h1>USER: {{username}}</h1>
<p>Favourite artists:</p>
<div class="messages">
</div>
<table class="table">
    {{#each artists}} <!-- artists is an Array of String objects-->
    <tr class="artistItem">
      <td class="artistName" data-vinyl-id="{{id}}">{{name}}</td>
      <td><button class="btn btn-danger">Delete</button></td>
    </tr>
    {{/each}}
</table>
<form method="POST">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Artist:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="artist">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Tag:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="tag">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>